<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.newtest.mapper.MyTestMapper">

    <resultMap id="BaseResultMap" type="com.example.newtest.enity.MyTest">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="myJson" column="my_json" jdbcType="VARCHAR"/>
            <result property="other" column="other" jdbcType="VARCHAR"/>
            <result property="deciale" column="deciale" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,my_json,other,
        deciale
    </sql>
    <insert id="importByExcel">
        insert into my_test(my_json,other,deciale) values (#{string},#{zz},null)
    </insert>
</mapper>
